<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="tests">

    <test name="Test Firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="src.CrossBrowser_ParallelTesting"></class>
        </classes>
    </test>


    <test name="Test Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="src.CrossBrowser_ParallelTesting"></class>
        </classes>
    </test>




</suite>